html
{
	background-color: #444;
}

.movie
{
	background-color: #666;
	color: #BBB;

	text-align: center;

	font-size: 0.9em;

	position: relative;

	width: 200px;
	height: 430px;

	margin: 5px;
	padding: 2px;
	padding-bottom: 0px;
	float: left;
}

.affiche
{
	max-height: 300px;
	max-width: 200px;

	margin-top: 21px;
	margin-bottom: 0px;
}

.movie h3
{
	position: absolute;

	font-size: 0.7em;
	font-weight: normal;

	left: 0px;
	right: 0px;
	top: 0px;

	background-color: #333;
	color: #94B8FF;

	margin-top: 0px;
	margin-bottom: 10px;
	padding: 5px;
}

.movie h4
{
	margin: 0px;
	margin-top: 5px;

	font-size: 0.9em;
}

.movie h5
{
	margin: 0px;

	color: #999;
	font-weight: normal;
}

.movie h6 a
{
	text-decoration: none;

	padding: 10px;

	position: absolute;

	bottom: 0px;
	left: 0px;
	right: 0px;

	background-color: #555;

	color: #FF944D;
}

.movie h6 a:hover
{
	background-color: #333;
	color: #FF6633;
}

.movie span
{
	margin: 0px;
	padding: 0px;
}